.git
.gradle
**/build
.idea
.env*
deploy/app.env
deploy/prometheus/slack-webhook-url
deploy/prometheus/discord-webhook-url
deploy/prometheus/healthchecks-ping-url
*.key
*.pem
*.p12
*.pfx
*.iml
.DS_Store
